/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --white: #fff;
  --point: #333;
  --grey1: #ccc;
  --grey2: #eee;
  --grey3: #fafafa;
  --black: #333;
}

.w-set {
  width: 1140px;
  margin: 0 auto;
}
.clear:after {
  display:block;
  content:'';
  clear:both;
}

a {text-decoration: none;}